################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/android
/node_modules
/www
